

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
  background: #ebf2f5;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif
}

:root {
  --bgBlue: linear-gradient(329.54deg, cadetblue 0%, #00C7C7 100%);
  --gray: #D3C9C8;
  --darkGray: #4D6F80;
  --brown: #5E3738; /*rgb(94, 55, 56)*/
  --pink: #F79D84; /* rgb(247, 157, 132) */
  --beige: #FBD49B; /* rgb(251, 212, 155) */
}

a {
  text-decoration: none;
}

strong {
  font-weight: 800;
}